.tool-versions
.env
.venv
.idea
.vscode

data/*
data/nginx/ssl/*
data/postres*
data/redis/*

backend/data/production/*
backend/staticfiles/*

frontend/cypress/screenshots/*
frontend/cypress/videos/*
/node_modules


!data/nginx/ssl/.gitkeep
!data/nginx/nginx.dev.conf
!data/nginx/nginx.test.conf
!data/nginx/nginx.prod.conf
