asgiref==3.7.2
astroid==3.1.0
cachetools==5.3.2
cas-client==1.0.0
certifi==2024.2.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
colorama==0.4.6
coreapi==2.3.3
coreschema==0.0.4
cryptography==42.0.5
dill==0.3.8
distlib==0.3.8
Django==5.0.2
django-rest-knox==4.2.0
django-rest-swagger==2.2.0
django-sslserver==0.22
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
drf-yasg==1.21.7
filelock==3.13.1
flake8==7.0.0
flake8-for-pycharm==0.4.1
idna==3.6
inflection==0.5.1
isort==5.13.2
itypes==1.2.0
Jinja2==3.1.3
MarkupSafe==2.1.5
mccabe==0.7.0
openapi-codec==1.3.2
PyJWT==2.8.0
pylint==3.1.0
pyproject-api==1.6.1
pytz==2024.1
PyYAML==6.0.1
requests==2.31.0
simplejson==3.19.2
six==1.16.0
sqlparse==0.4.4
tomli==2.0.1
tomlkit==0.12.4
tox==4.13.0
typing_extensions==4.9.0
uritemplate==4.1.1
urllib3==2.2.1
virtualenv==20.25.1