.p-card {
    background: $panelContentBg;
    color: $panelContentTextColor;
    box-shadow: $cardShadow;
    border-radius: $borderRadius;

    .p-card-body {
        padding: $cardBodyPadding;
        background: $primaryLightColor;
        border-bottom-left-radius: $borderRadius;
        border-bottom-right-radius: $borderRadius;
        position: relative;
        display: flex;
        height: 100%;
        flex-direction: column;
    }

    .p-card-title {
        font-size: $cardTitleFontSize;
        font-weight: $cardTitleFontWeight;
        margin-bottom: $inlineSpacing;
    }

    .p-card-subtitle {
        font-weight: $cardSubTitleFontWeight;
        margin-bottom: $inlineSpacing;
        color: $cardSubTitleColor;
    }

    .p-card-content {
        padding: $cardContentPadding;
    }

    .p-card-footer {
        padding: $cardFooterPadding;
        position: relative;
        flex:1;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }
}
