/* Package stylesheets */
@import '../node_modules/primeflex/primeflex.css';
@import '../node_modules/primeicons/primeicons.css';

/* Custom PrimeVue theme */
@import 'assets/scss/theme/theme.scss';

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    line-height: 1.6rem;

    h1, h2, h3, h4, h5, h6 {
        color: $primaryColor;
    }

    #app {
        min-height: 100vh;
    }

    * {
        box-sizing: border-box;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    .p-toast{
        max-width: calc(100vw - 40px);
    }

    .field {
        .p-component:not(.p-inputswitch, .p-button) {
            width: 100%;
        }
    }
}